:root {
	--primary: #4cd4ca;
	--dark: #334b49;
	--light-blue: #9ec0ff;
	--dark-blue: #668bce;
	--gray: #96b1ad;
}

body {
	background-color: var(--dark);
}

.teal-bg {
	background-color: var(--primary);
}

.dark-bg {
	background-color: var(--dark);
}
