:root {
	--primary: #4cd4ca;
	--dark: #334b49;
	--light-blue: #9ec0ff;
	--dark-blue: #668bce;
	--gray: #96b1ad;
}

body {
	background-color: var(--dark);
}

.about {
	background-color: var(--light-blue);
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}

.dark-bg {
	background-color: var(--dark);
}

.light-blue-bg {
	background-color: var(--light-blue);
}

.form-check-inline {
	margin: 1rem;
}

.accordion-button {
	font-size: 1.5rem;
}
